.notification {
    position: relative;
    background-color: var(--bgMain);
    border-radius: 18px;
    padding: 24px;
    gap: 4px;
    box-shadow: 0 0 4px 1px var(--graphicNeutral);

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.header {

}

.type {
    font-weight: 500;
    font-size: 16px;
    color: var(--textPrimary);
}

.content {
    display: flex;
    flex-direction: column;
}

.message {
    font-weight: 400;
    font-size: 14px;
    color: var(--textSecondary);
}

.closeButton {
    position: absolute;
    top: 8px;
    right: 8px;
}